.blocktop
{
    height: 400px;
    width: auto;
    /*background-image: url("../html_resources/COM-Lucy-Peach-Homepage.jpg");*/

}
.p1
{
    font-family: 'Helvetica Neue',serif; font-size: 64px; color: white; margin-left: 2.5em;
    padding-top: 64px;
}
.mainblock
{
    width: 90%;
    height: auto;
    margin: auto;
    background-color: white;
}
.p3
{
    font-family: 'Helvetica',serif; font-size: 20px; color: black; margin-left: 5em; padding-top: 1.5em;

}
.mainblock-back
{
    height: auto;
    width: auto;
    background-color: #202020;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
}
.photo_main
{
    width: auto;
    background-image: url("../html_resources/27393490478_9cca215cfc_o.jpg");
    height: auto;
}
.p2
{
    font-family: 'Helvetica Neue',serif; font-size: 48px; color: white; margin-left: 2em;
    padding-top: 1em;
}
.p4
{
    font-family: 'Helvetica Neue',serif; font-size: 24px; color: white; margin-left: 4em;
    padding-top: 1em;
}

.prpic
{
    width: 150px;
    height: 125px;
    display: inline;


}
.post
{
    margin-top: 3em;
    margin-left: 5em;
    width: 90%;
    height: auto;
    padding-bottom: 3em;
}
