.blocktop
{
    height: 400px;
    width: auto;
}
.p1
{
    font-family: 'Helvetica Neue',serif; font-size: 64px; color: white; margin-left: 2.2em;

}
.p2{
    font-family: 'Helvetica Neue',serif; font-size: 24px; color: white; margin-left: 3em; margin-top: 2em;
}
.mainblock
{
    width: 90%;
    height: auto;
    margin: auto;
}
.p3
{
    font-family: 'Helvetica',serif; font-size: 20px; color: black; margin-left: 1em;;

}
.p4
{
    font-family: 'Helvetica',serif; font-size: 18px; color: black; margin-left: 1.2em;;

}
.p5
{
    font-family: 'Helvetica',serif; font-size: 14px; color: dimgrey; padding-right: 5em; margin-bottom: 7.5em;

}
.date
{
    font-family: 'Helvetica',serif; font-size: 14px; color: dimgrey; margin-bottom: 7.5em;
}

.mainblock-back
{
    height: auto;
    width: auto;
    background-color: #202020;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
}
.prpic
{
    width: 150px;
    height: 125px;
    display: inline;


}
.post
{
    margin-top: 3em;
    margin-left: 5em;
    width: 90%;
    height: auto;
    padding-bottom: 3em;
}



ul {
    list-style: none;
}

#mainform
{
    width: 35%;
    height: auto;
    background-color: white;
    opacity: 0.8;
    margin-top: 3em;
    margin-left: 31%;
    margin-bottom: 5px;
    display: none;
    z-index: 150;
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
}
.p6
{
    font-family: 'Helvetica Neue',serif; font-size: 24px; color: black; margin-left: 1.7em; padding-top: 1em;
}
.p7
{
    font-family: 'Helvetica Neue',serif; font-size: 18px; color: black; padding-left: 2.2em; padding-top: 1em;
}
.p8
{
    font-family: 'Helvetica Neue',serif; font-size: 14px; color: black; padding-left: 3em;
}

.checkboxForArtist {
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 10px 0px;
    margin: 0;
    width: 60px;
}

#gray{
    background-color: rgba(255, 99, 71,0.75);
    position: fixed;
    left: 0; right: 0; top:0; bottom: 0;
    z-index: 100;
    display: none;
}

.card1{
    position: relative;!important;
    display: inline-block!important;
}

#addplaylist
{
    width: 35%;
    height: auto;
    background-color: white;

    margin-top: 3em;
    margin-left: 31%;
    margin-bottom: 3em;
    display: none;
    z-index: 150;
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
}
#postFormAddPlaylist{
    flex: 1;
}
#enterPlaylistImage{
    display: none;
}
label{
    cursor: pointer;
}

.layer {
    overflow: scroll; /* Добавляем полосы прокрутки */
    height: 300px;
    padding: 5px; /* Поля вокруг текста */
    border: solid 1px black; /* Параметры рамки */

}
.playlistImage{
    position: relative;
    display: inline-block;
}

/*
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.playlist-wrapper {
    padding: 5vw;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
    border-radius:5px;
}

.playlist-item {
    box-shadow:0 0 15px rgba(0,0,0,0.2);
    border-radius:5px;
    border-top: 1px solid #666;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    color: #ccc;
    white-space: nowrap;
}
.playlist-item:hover,
.playlist-item:active {
    background: tomato;
}


.playlist-inner {
    display: flex;
}

.playlist-play {
    position: relative;
    margin-right: 2em;
}



.icon-play2,
.icon-pause {
    position: absolute;
    font-size: 2em;
    color: #fff;
    left: 40%;
    top: 40%;
    transform: translate(-50%, -50%);
    /*opacity: 0;*/
    z-index: 10;
    cursor: pointer;
}
.playlist-item:hover .icon-play2 {
    opacity: 1;
}

.playlist-item:hover .icon-play2 + .playlist-duration {
    opacity: 0;
}

.playlist-item:hover .icon-pause {
    opacity: 1;
}

.playlist-item:hover .icon-pause + .playlist-duration {
    opacity: 0;
}

.playlist-duration {
    min-width: 4.1em;
    text-align: center;
}

.playlist-title {
    color: #fff;
}

.song{
    position:relative;
    width:680px;
    height:50px;
    padding:10px;
    margin:0 0 20px 0;
    background:#e74c3c;
    border-radius:5px 5px 0 0
}

.play-pause,.play-pause_song{
    float:left;
    background:#c0392b url("/static/images/playmusic.png") no-repeat;
    background-size:40px;
    background-position:8px 8px;
    width:50px;
    height:50px;
    border-radius:50px;
}
.nameSong,.settings,.nameSong_song{
    position:absolute;
    color:#ecf0f1;
    padding:5px;
    top:0;
    left:340px;
    font-size:18px
}
.settings{
    left:80px
}
.settings div{
    float:left;
    margin-right:5px
}
.mute, .volume{
    font-size:20px;
    margin:0 10px
}
.bar{
    position:relative;
    float:left;
    background:rgba(0,0,0,0);
    width:540px;
    height:40px;
    margin:10px;
    padding:0;
    overflow:hidden;
}
.setTime{
    position:absolute;
    top:0;
    background:#1abc9c;
    color:#ecf0f1;
    font-size:12px;
    padding:3px;
    display:none
}
.range,.progress,.load{
    height:10px;
    margin:25px 0;
    padding:0;
    width:100%
}
.progress,.load{
    position:absolute;
    top:0;
    left:-100%
}

.range{
    background:rgba(192,57,43,0.5)
}
.progress{
    background:#1abc9c;
    z-index:3;
}
.load{
    background:rgb(192,57,43)
}
.time,.duration_song{
    float:left;
    font-size:20px;
    margin:15px 0 0 15px;
    color:#ecf0f1
}
.song{
    height:25px;
    background:rgb(26,188,156);
    color:#ecf0f1;
    float:left;
    border-radius:0
}
.song:hover{
    background:rgba(26,188,156,0.8)
}
.play-pause_song{
    background:#16a085 url("/static/images/playmusic.png") no-repeat;
    background-size:20px;
    background-position:4px 4px;
    width:25px;
    height:25px
}
.nameSong_song,.duration_song{
    font-size:14px
}
.nameSong_song{
    top:10px;
    left:80px
}
.duration_song{
    float:right;
    margin-top:5px
}


.player1 {
    box-shadow:0 0 15px rgba(0,0,0,0.2);
    border-radius:15px;
    border-top: 1px solid #666;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    color: #ccc;
    white-space: nowrap;
    height: 50px;
    background-color: tomato;
}
.settings1{
    left:80px
}
.settings1 div{
    float:left;
    margin-right:5px;
    margin-left: 5px;
    width: 5px;
    height: 5px;
}

#playlist{
    position: fixed;
    bottom: 5px;left: 0;right: 0;
}

