<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Explore Artists</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/explorePage.css">
</head>
<body style="background-image: url(../static/images/background.jpg)">
<header>
    <nav class="navbar navbar-expand-lg navbar-light dark" style="background: #171717">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/templates/mainPage.html" style="color: white;">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/explorePage.html" style="color: white;">Explore</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="display: inline; margin-right: auto">
                <a class="navbar-brand" href="/templates/mainPage.html" style="margin: auto"><img src="/static/images/play.png" width="33" height="34"></a>
            </ul>
            <a class="nav-link" href="/templates/search.html" style="color: white;">Search</a>
            <a class="nav-link" href="/templates/registration.html" style="color: white;">Sign Up</a>
        </div>
    </nav>
</header>
<main>
    <div class="blocktop">
        <p class="p">Explore popular playlists.</p>
        <p class="p2">Enjoy new mixes by our editors.</p>
    </div>
    <div class="mainblock-back">
        <div class="mainblock">
            <p class="p1">Most popular now:</p>
            <table style="padding-bottom: 5em">
                <tr>
                    <td>
                        <div class="card" style="width: 18rem; margin-left: 4em; margin-top: 1em; margin-bottom: 2em">
                            <img src="/static/images/r-b-breakfast-club.jpg" class="card-img-top" alt="card" width="200" height="200">
                            <div class="card-body">
                                <h5 class="card-title">New R&B</h5>
                                <p class="card-text">New R&B hits are waiting for you. Enjoy city rhythms and bass power.</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card" style="width: 18rem;  margin-top: 1em; margin-bottom: 2em; margin-left: 4em;">
                            <img src="/static/images/gettyimages-638549776.jpg" class="card-img-top" alt="card" width="200" height="200">
                            <div class="card-body">
                                <h5 class="card-title">Electronic Replay</h5>
                                <p class="card-text">Going back to 2010s. Ready for the trip? Prepare your ears for 45-minutes buzz.</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card" style="width: 18rem;  margin-top: 1em; margin-bottom: 2em; margin-left: 4em;">
                            <img src="/static/images/on-rock-music-and-writing-cover.jpg" class="card-img-top" alt="card" width="200" height="200">
                            <div class="card-body">
                                <h5 class="card-title">We Rockin'</h5>
                                <p class="card-text">Amazing rock hits for every generation living on this planet. Don't forget about surrounders!</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="card" style="width: 18rem; margin-left: 4em; margin-top: 1em; margin-bottom: 2em">
                            <img src="/static/images/on-rock-music-and-writing-cover.jpg" class="card-img-top" alt="card" width="200" height="200">
                            <div class="card-body">
                                <h5 class="card-title">We Rockin'</h5>
                                <p class="card-text">Amazing rock hits for every generation living on this planet. Don't forget about surrounders!</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a href="playlist.html">
                        <div class="card" style="width: 18rem;  margin-top: 1em; margin-bottom: 2em; margin-left: 4em;">
                            <img src="/static/images/27393490478_9cca215cfc_o.jpg" class="card-img-top" alt="card" width="200" height="200"></a>
                            <div class="card-body">
                                <h5 class="card-title">Indie Anthems</h5>
                                <p class="card-text">Here is a quick tip how to start your day. Bold, epic and new hits for you.</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card" style="width: 18rem;  margin-top: 1em; margin-bottom: 2em; margin-left: 4em;">
                        <img src="/static/images/r-b-breakfast-club.jpg" class="card-img-top" alt="card" width="200" height="200">
                            <div class="card-body">
                                <h5 class="card-title">New R&B</h5>
                                <p class="card-text">New R&B hits are waiting for you. Enjoy city rhythms and bass power.</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>