<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/signUp.css">
</head>
<body style="background-image: url(/static/images/background_siginin.jpg)">
<header>
    <nav class="navbar navbar-expand-lg navbar-light dark" style="background: #171717">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/templates/mainPage.html" style="color: white;">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/explorePage.html" style="color: white;">Explore</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="display: inline; margin-right: auto">
                <a class="navbar-brand" href="/templates/mainPage.html" style="margin: auto"><img src="../static/images/play.png" width="33" height="34"></a>
            </ul>
            <a class="nav-link" href="/templates/search.html" style="color: white;">Search</a>
            <a class="nav-link" href="/templates/registration.html" style="color: white;">Sign Up</a>
        </div>
    </nav>
</header>
<main>
    <div class="mainform">
        <p class="p1">Sign In</p>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username" style="margin-left: 2.5em; width: 82%">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password" style="margin-left: 2.5em; width: 82%">
            </div>
            <div class="form-group form-check" style="margin-left: 2.5em">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" >
                <label class="form-check-label" for="exampleCheck1">Remember me</label>
            </div>
            <button type="submit" class="btn btn-primary" style="background-color: crimson; border-color: white; margin-left: 40%">Sign In!</button>
            <p class="p2">Or enter with:</p>
            <table>
                <tr>
                    <td>
                        <a href="http://www.facebook.com" style="margin-left: 8em;"><img src="/static/images/IMG_9004.PNG" style="width: 3em; height: 3em;"></a>
                    </td>
                    <td>
                        <a href="http://www.twitter.com" style="margin-left: 1em;"><img src="/static/images/IMG_9005.PNG" style="width: 3em; height: 3em;"></a>
                    </td>
                    <td>
                        <a href="http://www.vk.com" style="margin-left: 1em;"><img src="/static/images/IMG_9006.PNG" style="width: 3em; height: 3em;"></a>
                    </td>
                </tr>
            </table>
            <a href="/registration"><p class="p3">Don't have an account? Sign up</p></a>
        </form>
    </div>
</main>
</body>
</html>
