<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sound App - For Young Musicians</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/mainPage.css">
</head>
<body style="background-image: url(../static/images/background.jpg)">
<header>
    <nav class="navbar navbar-expand-lg navbar-light dark" style="background: #171717">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/templates/mainPage.html" style="color: white;">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/explorePage.html" style="color: white;">Explore</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="display: inline; margin-right: auto">
                <a class="navbar-brand" href="/templates/mainPage.html" style="margin: auto"><img src="/static/images/play.png" width="33" height="34"></a>
            </ul>
            <a class="nav-link" href="/templates/search.html" style="color: white;">Search</a>
            <a class="nav-link" href="/templates/registration.html" style="color: white;">Sign Up</a>
        </div>
    </nav>
</header>
<main>
    <div class="blocktop">
        <p class="p1">Join today.</p>
        <p class="p2">Listen. Discover. Enjoy.</p>
        <a href="/templates/registration.html"><button type="button" class="btn btn-danger" style="margin-left: 8.8em;">Sign Up For Free</button></a>
    </div>
    <div class="mainblock-back">
        <div class="mainblock">
            <p class="p3">Explore local artists by your location.</p>
            <table style="margin-left: 5em; ">
                <tr>
                    <td>
                        <div class="card" style="width: 18rem; margin-top: 1em; margin-bottom: 2em">
                            <a href="/templates/user.html"><img src="/static/images/on-rock-music-and-writing-cover.jpg" class="card-img-top" alt="card" width="200" height="200"></a>
                            <div class="card-body">
                                <h5 class="card-title">Emmie James</h5>
                                <p class="card-text">Rock. 265 songs. 13 albums.</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card" style="width: 18rem; margin-top: 1em; margin-bottom: 2em">
                            <img src="/static/images/34-og.jpg" class="card-img-top" alt="card" width="200" height="200">
                            <div class="card-body">
                                <h5 class="card-title">Adam Kevine</h5>
                                <p class="card-text">Deep House. 17 songs. 6 EPs</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="p3" style="margin-left: 3.5em">Find out who near you:</p>
                        <a href="/templates/registration.html"><button type="button" class="btn btn-danger" style="margin-left: 6em;">Sign Up For Free</button></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="p3" style="margin-left: 0;">Explore playlists by our editors.</p>
                        <a href="/templates/explorePage.html"><button type="button" class="btn btn-danger" style="margin-bottom: 3em;">Explore tranding playlists</button></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</main>
</body>
</html>