<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Emmie James - Songs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/userLibrarySongs.css">
</head>
<body style="background-color: #202020">
<header>
    <nav class="navbar navbar-expand-lg navbar-light dark" style="background: #171717">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/templates/userLoggedIn.html" style="color: white;">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/explorePage.html" style="color: white;">Explore</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/userLibrary.html" style="color: white;">Library</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="display: inline; margin-right: auto">
                <a class="navbar-brand" href="/templates/mainPage.html" style="margin-right: 0em;"><img src="/static/images/play.png" width="33" height="34"></a>
            </ul>
            <a class="nav-link" href="/templates/search.html" style="color: white;">Search</a>
            <a class="nav-link" href="/templates/userEditPage.html" style="color: white;">Edit</a>
            <a class="nav-link" href="/templates/mainPage.html" style="color: white;">Log Out</a>
        </div>
    </nav>
</header>
<main>
    <div class="blocktop" style="background-image: url(../static/images/COM-Lucy-Peach-Homepage.jpg)">
        <a href="/templates/userEditPage.html"><button type="button" class="btn btn-primary" style="background-color: crimson; margin-left: 90%; border-color: #171717; margin-top: 2em;">Upload</button></a>
        <p class="p1">Emmie James</p>
    </div>
    <div class="mainblock-back">
        <div class="mainblock">
            <p class="p2">Your favorite songs:</p>
            <div class="mainblock">
                <button type="button" class="btn btn-danger" style="margin-left: 3em; margin-top: 2em;">Play all  <img src="/static/images/play.png" width="20" height="20"></button>
                <button type="button" class="btn btn-danger" style="margin-top: 2em;">Shuffle  <img src="/static/images/shuffle.png" width="20" height="20"></button>
                <ul class="list-group" style="margin-left: 3em; padding-top: 1em; margin-right: 3em; padding-bottom: 3em;">
                    <li class="list-group-item">1. Song Name - Artist<nobr class="nobr">Album Name</nobr><nobr class="nobr">03:56</nobr></li>
                    <li class="list-group-item">2. Song Name - Artist<nobr class="nobr">Album Name</nobr><nobr class="nobr">03:56</nobr></li>
                    <a href="/templates/song.html"><li class="list-group-item active" style="background-color: crimson; border-color: white">3. Song Name - Artist<nobr class="nobr">Album Name</nobr><nobr class="nobr">03:56</nobr></li></a>
                    <li class="list-group-item">4. Song Name - Artist<nobr class="nobr">Album Name</nobr><nobr class="nobr">03:56</nobr></li>
                    <li class="list-group-item">5. Song Name - Artist<nobr class="nobr">Album Name</nobr><nobr class="nobr">03:56</nobr></li>
                    <li class="list-group-item">6. Song Name - Artist<nobr class="nobr">Album Name</nobr><nobr class="nobr">03:56</nobr></li>
                    <li class="list-group-item">7. Song Name - Artist<nobr class="nobr">Album Name</nobr><nobr class="nobr">03:56</nobr></li>
                    <li class="list-group-item">8. Song Name - Artist<nobr class="nobr">Album Name</nobr><nobr class="nobr">03:56</nobr></li>
                    <li class="list-group-item">9. Song Name - Artist<nobr class="nobr">Album Name</nobr><nobr class="nobr">03:56</nobr></li>
                </ul>
            </div>
        </div>
    </div>
</main>
</body>
</html>