<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/userEditPage.css">
</head>
<body style="background-image: url(../static/images/background_siginin.jpg)">
<header>
    <nav class="navbar navbar-expand-lg navbar-light dark" style="background: #171717">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/templates/userLoggedIn.html" style="color: white;">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/explorePage.html" style="color: white;">Explore</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/userLibrary.html" style="color: white;">Library</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="display: inline; margin-right: auto">
                <a class="navbar-brand" href="/templates/mainPage.html" style="margin-right: 0em;"><img src="/static/images/play.png" width="33" height="34"></a>
            </ul>
            <a class="nav-link" href="/templates/search.html" style="color: white;">Search</a>
            <a class="nav-link" href="/templates/userEditPage.html" style="color: white;">Edit</a>
            <a class="nav-link" href="/templates/mainPage.html" style="color: white;">Log Out</a>
        </div>
    </nav>
</header>
<main>
    <div class="mainform">
        <p class="p1">Edit Profile Info:</p>
        <form>
            <p class="p2">Change name:</p>
            <div class="form-group">
                <input type="text" class="form-control" id="changeName" placeholder="Emmie James" style="margin-left: 2.5em; width: 82%">
            </div>
            <p class="p2">Change password:</p>
            <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Old Password" style="margin-left: 2.5em; width: 82%">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="New Password" style="margin-left: 2.5em; width: 82%">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Repeat New Password" style="margin-left: 2.5em; width: 82%">
            </div>
            <div class="form-group">
                <p class="p2">Change profile picture:</p>
                <p class="p3">It's better to upload FullHD picture.</p>
                <input type="file" class="form-control-file" id="exampleFormControlFile1" style="margin-left: 2.5em">
            </div>
            <a href="/templates/userLoggedIn.html"><button type="button" class="btn btn-primary" style="background-color: crimson; border-color: white; margin-left: 40%; margin-bottom: 2em;">Save Info</button></a>
        </form>
    </div>
</main>
</body>
</html>